.container {
  padding: 2%;
}
.content-header {
  display: flex;
  padding-bottom: 1%;

  h2 {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
  }
}
.content-body {
  height: 100%;
  max-height: 600px;
  overflow: auto;
}

.card-item {
  width: 50%;
  padding-bottom: 3%;
}

table {
  width: 100%;
  
  th {
    text-align: center;
  }

  td {
    text-align: center;
    overflow-x: auto;
  }
}
mat-spinner {
  width: 30px;
  height: 30px;
}

a {
  color: blue;
}

a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}

fa-icon {
  padding-right: 10px;
}
