<div class="container">
  <div class="content-header">
    <h2>{{ title }}</h2>
  </div>
  <div class="content-body">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <section>
        <mat-form-field class="form-field">
          <mat-label>New Task Name</mat-label>
          <input
            matInput
            name="new_task_name"
            placeholder="New Task"
            formControlName="name"
          />
        </mat-form-field>
      </section>
      <section>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Category Id</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let cat of categories" [value]="cat.id">
              {{ cat.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <button mat-raised-button color="primary" class="md-button" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
